body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dashboard-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.content {
  flex-basis: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 3% 2%;
}

.funds {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.funds p {
  font-size: 0.8rem;
  color: rgb(179, 179, 179);
  margin-right: 8px;
}

.btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  margin-right: 0;
}

.btn-blue {
  background: #4184f3;
}

.btn-grey {
  background: #9b9b9b;
}

.btn-primaryq,
.btn-danger {
  /* Add any additional styling for btn-primaryq or btn-danger if needed */
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.col {
  flex-basis: 45%;
  text-align: left;
  padding-right: 10px;
}

.col span {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.section-icon {
  transform: scale(0.8);
  color: rgb(66, 56, 56);
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.col span p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}

.table {
  border: 1px solid #ddd;
  padding: 5% 6%;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons span {
  flex: 1 1 auto;
  min-width: 0;
  font-size: 1rem;
  color: rgb(151, 151, 151);
}

.buttons>div {
  flex: 0 0 auto;
  display: flex;
  gap: 10px;
}

.table hr {
  border: none;
  background: #d1d1d1;
  height: 0.5px;
  margin-bottom: 5%;
}

.commodity {
  padding: 2% 8%;
  text-align: center;
}

.commodity p {
  margin-bottom: 10%;
  color: #c9c9c9;
}

/* pseudo selectors */
.btn-blue:hover {
  background: #74a7fa;
}

.btn-grey:hover {
  background: #b3b3b3;
}

.title {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(71, 71, 71);
  margin-bottom: 2%;
}

.order-table table {
  width: 100%;
  border-collapse: collapse;
}

.order-table tr {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.order-table th {
  text-align: right;
  padding: 15px 10px;
  color: rgb(145, 145, 145);
  font-weight: 300;
  font-size: 0.8rem;
}

.order-table tr th:first-child,
.order-table tr td:first-child {
  text-align: left;
}

.order-table tr th:nth-child(1),
.order-table tr th:nth-child(4) {
  border-right: 1px solid #f1f1f1;
}

.order-table tr td:nth-child(1),
.order-table tr td:nth-child(4) {
  border-right: 1px solid #f1f1f1;
}

.order-table tr td:last-child {
  font-size: 0.6rem;
}

.order-table td {
  padding: 10px 10px;
  text-align: right;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(73, 73, 73);
}

.align-left {
  text-align: left;
}

.order-table td.profit {
  color: rgb(72, 194, 55);
}

.order-table td.loss {
  color: rgb(250, 118, 78);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.col {
  flex-basis: 33%;
}

.col h5 {
  font-size: 1.8rem;
  color: rgb(71, 71, 71);
  font-weight: 300;
}

.col h5 span {
  font-weight: 300;
  font-size: 0.9rem;
}

.col p {
  font-size: 0.8rem;
  color: rgb(153, 153, 153);
  font-weight: 300;
  margin-top: 2%;
}

.row .col:last-child h5 {
  color: rgb(72, 194, 55);
}

/* pseudo selector */
.item:hover {
  cursor: pointer;
}

.menu-container {
  flex-basis: 68%;
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 30px;
  height: 20px;
}

.menus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menus ul {
  list-style-type: none;
}

.menus li {
  display: inline-block;
  margin-right: 30px;
  text-decoration: none;
}

.menu {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(70, 70, 70);
}

.menu.selected {
  color: rgb(245, 104, 52);
}

hr {
  border-left: 0.8px solid rgb(243, 242, 242);
  height: 30px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}

.profile .avatar {
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
  font-size: 0.7rem;
  font-weight: 400;
  color: rgb(221, 139, 221);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  background: rgb(252, 229, 252);
  margin-right: 8px;
}

.profile .username {
  font-size: 0.8rem;
  font-weight: 300;
}

/* pseudo selectors */
.menu:hover {
  color: rgb(245, 104, 52);
}

.profile:hover {
  cursor: pointer;
}

.profile:hover .username {
  cursor: pointer;
  color: rgb(223, 91, 43);
}

.orders {
  width: 100%;
  height: 90vh;
}

.no-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-orders .icon {
  transform: scale(4);
  color: rgb(173, 173, 173);
  display: block;
}

.no-orders p {
  margin-top: 6%;
  color: rgb(173, 173, 173);
  font-size: 1rem;
  font-weight: 300;
}

.btn {
  text-decoration: none;
  background: rgb(77, 77, 248);
  padding: 10px 20px;
  border-radius: 2px;
  color: #fff;
  margin-top: 2%;
}

.btn:hover {
  background: rgb(110, 110, 253);
}

.title {
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(71, 71, 71);
  margin-bottom: 2%;
}

.order-table table {
  width: 100%;
  border-collapse: collapse;
}

.order-table tr {
  border-top: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
}

.order-table tr th:first-child,
.order-table tr td:first-child {
  text-align: left;
}

.order-table tr td:first-child p {
  background: rgb(255, 197, 197);
  color: rgb(233, 120, 120);
  width: 50%;
  text-align: center;
  border-radius: 2px;
}

.order-table tr td:last-child {
  font-size: 0.6rem;
}

.order-table td {
  padding: 10px 10px;
  text-align: right;
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(73, 73, 73);
}

.align-left {
  text-align: left;
}

.order-table td.profit {
  color: rgb(72, 194, 55);
}

.order-table td.loss {
  color: rgb(250, 118, 78);
}

.username h6 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(83, 83, 83);
  margin-bottom: 20px;
}

.divider {
  border: none;
  background: #d1d1d1;
  height: 1px;
  margin: 20px 0;
  margin-bottom: 5%;
}

.section {
  padding-bottom: 2%;
}

.section span {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.section span p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
}

.section-icon {
  transform: scale(0.8);
  color: rgb(112, 112, 112);
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

.data {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.data .first h3 {
  font-size: 2.5rem;
  font-weight: 300;
  color: rgb(71, 71, 71);
}

.data .first p {
  font-size: 0.8rem;
  color: rgb(136, 136, 136);
}

.data .first small {
  font-size: 0.8rem;
  color: rgb(72, 194, 55);
}

.data .first .profit {
  color: rgb(72, 194, 55);
}

.data hr {
  border-left: 0.6px solid rgb(243, 242, 242);
  height: 70px;
}

.data .second p {
  font-size: 0.8rem;
  color: rgb(136, 136, 136);
  margin-bottom: 10px;
  white-space: nowrap;
}

.data .second p span {
  display: inline;
  margin-left: 5%;
  font-size: 0.9rem;
  color: rgb(100, 100, 100);
}

.section hr {
  margin-top: 6%;
}

.topbar-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 4px 2px rgb(236, 235, 235);
  box-sizing: border-box;
  z-index: 9;
}

.indices-container {
  flex-basis: 24%;
  height: 100%;
  padding: 10px 20px;
  border-right: 1px solid rgb(224, 224, 224);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nifty {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: -2;
}

.sensex {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nifty>*,
.sensex>* {
  margin-right: 8px;
}

.index {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(97, 97, 97);
  white-space: nowrap;
}

.index-points {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(223, 73, 73);
}

.percent {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(146, 146, 146);
}

/* pseudo selectors */
.index:hover {
  cursor: pointer;
}

.watchlist-container {
  flex-basis: 32%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 1px rgb(236, 235, 235);
  overflow-y: auto;
  position: relative;
  padding-bottom: 60px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.search {
  width: 100%;
  height: 6%;
  border: none;
  padding: 15px 20px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(241, 241, 241);
  border-bottom: 0.8px solid rgb(235, 234, 234);
}

.counts {
  position: absolute;
  right: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(177, 177, 177);
}

.list {
  list-style-type: none;
  padding-bottom: 12%;
}

.list li {
  border-bottom: 0.8px solid rgb(235, 234, 234);
  padding: 12px 10px 12px 14px;
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.8rem;
  position: relative;
}

.item-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.item-info>* {
  margin-right: 8px;
}

.item-info span:nth-child(1) {
  color: rgb(141, 141, 141);
  flex: 1;
}

.item-info span:nth-child(2) {
  color: rgb(223, 73, 73);
  margin-right: 12px;
  flex: 2;
}

.item-info span:nth-child(3) {
  color: rgb(223, 73, 73);
  flex: 1;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  display: none;
}

.actions span button {
  width: 40px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
  margin-right: 8px;
  cursor: pointer;
}

.buy {
  background-color: #4184f3;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  border: 0.7px solid #4184f3;
}

.sell {
  background-color: #ff5722;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
  border: 0.7px solid #ff5722;
}

.action {
  background-color: #fff;
  border: 0.7px solid #9b9b9b;
}

.icon {
  transform: scale(0.7);
  color: rgb(65, 65, 65);
}

.watchlist-number {
  height: 6%;
  width: 32%;
  box-sizing: border-box;
  position: fixed;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  padding: 20px 20px 20px 20px;
  left: 0;
  border: 1px solid rgb(231, 231, 231);
  z-index: 5;
  background: #fff;
}

.watchlist-number ul {
  list-style-type: none;
}

.watchlist-number ul li {
  display: inline-block;
  padding: 10px 20px;
  border-right: 1px solid rgb(231, 231, 231);
}

.watchlist-number ul li:nth-child(1) {
  color: rgb(223, 73, 73);
}

.down {
  color: rgb(223, 73, 73);
}

.up {
  color: rgb(103, 201, 136);
}

.settings {
  transform: scale(0.8);
  color: rgb(105, 105, 105);
}

/* pseudo selectors */
.search:focus {
  outline: none;
}

.list li:hover {
  cursor: move;
  background-color: #f3f3f3;
}

.list li:hover>.actions {
  display: flex;
  cursor: move;
}

/* TODO */
.list li::before {
  content: "";
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.watchlist-number ul li:hover {
  color: rgb(245, 104, 52);
  cursor: pointer;
  background: rgb(243, 243, 243);
}

.settings:hover {
  cursor: pointer;
}

.action:hover {
  background-color: rgb(212, 212, 212);
}

/* RESPONSIVE DESIGN - TABLET */
@media (max-width: 1024px) {
  .dashboard-container {
    flex-direction: column;
    height: auto;
    min-height: 90vh;
  }

  .content {
    flex-basis: 100%;
    order: 1;
  }

  .topbar-container {
    flex-direction: column;
    height: auto;
  }

  .indices-container {
    flex-basis: 100%;
    border-right: none;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 15px 20px;
  }

  .menu-container {
    flex-basis: 100%;
    order: 2;
  }

  .watchlist-container {
    flex-basis: 100%;
    order: 3;
    height: 400px;
    position: relative;
  }

  .watchlist-number {
    position: relative;
    width: 100%;
    height: auto;
    bottom: auto;
    left: auto;
  }

  .row {
    flex-direction: column;
    gap: 15px;
    margin-top: 6%;
  }

  .col {
    flex-basis: 100%;
    text-align: center;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }

  .buttons span {
    width: 100%;
    text-align: left;
  }

  .buttons>div {
    width: 100%;
    justify-content: flex-start;
  }

  .data {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .data hr {
    display: none;
  }

  .table {
    padding: 3% 5%;
  }

  .order-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .order-table table {
    min-width: 700px;
    table-layout: fixed;
    /* Enforce fixed layout for width control */
  }

  .order-table th,
  .order-table td {
    max-width: none;
    /* Reset max-width to allow fixed layout */
  }

  .order-table th:nth-child(1),
  .order-table td:nth-child(1) {
    width: 20%;
    /* Wider for "Instrument" column */
  }

  .order-table th:nth-child(2),
  .order-table td:nth-child(2),
  .order-table th:nth-child(3),
  .order-table td:nth-child(3),
  .order-table th:nth-child(4),
  .order-table td:nth-child(4),
  .order-table th:nth-child(5),
  .order-table td:nth-child(5),
  .order-table th:nth-child(6),
  .order-table td:nth-child(6),
  .order-table th:nth-child(7),
  .order-table td:nth-child(7),
  .order-table th:nth-child(8),
  .order-table td:nth-child(8) {
    width: 10%;
    /* Narrower for numeric columns */
  }

  .order-table th,
  .order-table td {
    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Add ellipsis for overflow */
  }

  .col h5 {
    font-size: 1.6rem;
  }

  .col p {
    font-size: 0.9rem;
  }
}

/* RESPONSIVE DESIGN - MOBILE */
@media (max-width: 768px) {
  .dashboard-container {
    height: auto;
  }

  .content {
    padding: 4% 3%;
  }

  .topbar-container {
    height: auto;
    padding: 10px 0;
  }

  .indices-container {
    padding: 10px 15px;
  }

  .nifty,
  .sensex {
    flex-direction: column;
    gap: 5px;
  }

  .menu-container {
    padding: 10px 15px;
    flex-direction: column;
    gap: 15px;
  }

  .menus {
    order: 1;
  }

  .profile {
    order: 2;
    margin-left: 0;
  }

  .menus li {
    margin-right: 20px;
  }

  .funds {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .funds p {
    margin-right: 0;
  }

  .btn {
    padding: 8px 16px;
    font-size: 0.8rem;
  }

  .row {
    margin-top: 8%;
  }

  .col span p {
    font-size: 1rem;
  }

  .col h5 {
    font-size: 1.4rem;
  }

  .data .first h3 {
    font-size: 2rem;
  }

  .table {
    padding: 4% 3%;
  }

  .order-table th,
  .order-table td {
    padding: 8px 4px;
    font-size: 0.75rem;
  }

  .order-table tr td:last-child,
  .order-table tr td:nth-child(7) {
    font-size: 0.65rem;
  }

  .order-table tr td:first-child p {
    width: 70%;
  }

  .watchlist-container {
    height: 300px;
  }

  .list li {
    padding: 10px 8px;
  }

  .item-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .item-info>* {
    margin-right: 0;
  }

  .actions span button {
    width: 35px;
    height: 28px;
    font-size: 0.7rem;
  }

  .watchlist-number {
    padding: 15px 10px;
  }

  .watchlist-number ul li {
    padding: 8px 15px;
  }

  .title {
    font-size: 1.2rem;
  }
}

/* RESPONSIVE DESIGN - SMALL MOBILE */
@media (max-width: 480px) {
  .content {
    width: 100%;
  }

  .title {
    font-size: 1rem;
  }

  .col span p {
    font-size: 0.9rem;
  }

  .col h5 {
    font-size: 1.2rem;
  }

  .data .first h3 {
    font-size: 1.8rem;
  }

  .imp {
    font-size: 1.3rem;
  }

  .table .data p:first-child {
    font-size: 0.9rem;
  }

  .order-table th,
  .order-table td {
    padding: 6px 3px;
    font-size: 0.65rem;
  }

  .order-table tr td:last-child,
  .order-table tr td:nth-child(7) {
    font-size: 0.55rem;
  }

  .menus li {
    margin-right: 15px;
  }

  .menu {
    font-size: 0.7rem;
  }

  .profile .username {
    font-size: 0.7rem;
  }

  .index,
  .index-points,
  .percent {
    font-size: 0.7rem;
  }

  .commodity {
    padding: 3% 5%;
  }

  .btn {
    padding: 6px 12px;
    font-size: 0.7rem;
  }

  .no-orders .icon {
    transform: scale(3);
  }

  .no-orders p {
    font-size: 0.9rem;
  }

  .watchlist-number ul li {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  .search {
    padding: 12px 15px;
    font-size: 0.8rem;
  }

  .item {
    font-size: 0.7rem;
  }

  .actions span button {
    width: 32px;
    height: 26px;
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* main space between columns */
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
    /* slightly smaller margin */
  }

  .section .data {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0;
    /* small gap between first and second */
  }

  .section .data .first,
  .section .data .second {
    width: auto;
    /* slightly larger width to reduce gap */
    margin: 0;
  }

  .divider {
    display: none;
    /* remove extra dividers */
  }

  .section span p {
    font-size: 0.9rem;
  }

  .data .first h3 {
    font-size: 1.6rem;
  }

  .data .second p {
    font-size: 0.8rem;
  }
}

/* RESPONSIVE DESIGN - EXTRA SMALL */
@media (max-width: 320px) {
  .content {
    padding: 6% 3%;
  }

  .title {
    font-size: 0.9rem;
  }

  .col h5 {
    font-size: 1.1rem;
  }

  .data .first h3 {
    font-size: 1.6rem;
  }

  .order-table th,
  .order-table td {
    padding: 5px 2px;
    font-size: 0.55rem;
  }

  .order-table tr td:last-child,
  .order-table tr td:nth-child(7) {
    font-size: 0.5rem;
  }

  .menus li {
    margin-right: 10px;
  }

  .menu {
    font-size: 0.6rem;
  }

  .btn {
    padding: 5px 10px;
    font-size: 0.6rem;
  }



  .watchlist-number ul li {
    padding: 5px 8px;
    font-size: 0.7rem;
  }

  .actions span button {
    width: 30px;
    height: 24px;
    font-size: 0.5rem;
  }
}